---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
import PostCard from "../../components/PostCard.astro";
---

<BaseLayout>
  <div class="post-wrapper">
    <h1>Posts</h1>
    <div>
      {posts.map((p) => <PostCard post={p} />)}
    </div>
  </div>
</BaseLayout>